<div id="content">
    <h3><%_doomtitle%> </h3>
    <br/>
    <div id="judge" >
        <h1>{{{this.doomMessage}}} (<span id="score">{{this.allyDoomPercentage}}</span>)</h1>
    </div>
    <br/>
    <h2><%_teamoverview%></h2>
    <br/>
    <div id="teams">
        <table>
            <thead>
            <th></th>
            <th><%_ally%></th>
            <th><%_enemy%></th>
            </thead>
            <tr>
                <td><%_df%></td>
                <td>{{this.teams.0.DF}}</td>
                <td>{{this.teams.1.DF}}</td>
            </tr>
            <tr>
                <td><%_kda%></td>
                <td>{{this.teams.0.KDA}}</td>
                <td>{{this.teams.1.KDA}}</td>
            </tr>
            <tr>
                <td><%_winrate%></td>
                <td>{{this.teams.0.winrate}}%</td>
                <td>{{this.teams.1.winrate}}%</td>
            </tr>
            <tr>
                <td><%_gold%></td>
                <td>{{this.teams.0.gold}}</td>
                <td>{{this.teams.1.gold}}</td>
            </tr>
            <tr>
                <td><%_cs%></td>
                <td>{{this.teams.0.cs}}</td>
                <td>{{this.teams.1.cs}}</td>
            </tr>
            <tr>
                <td><%_turret%></td>
                <td>{{this.teams.0.turret}}</td>
                <td>{{this.teams.1.turret}}</td>
            </tr>
            <tr>
                <td><%_total%></td>
                <td>{{this.teams.0.total}}</td>
                <td>{{this.teams.1.total}}</td>
            </tr>
            <tr>
                <td><%_doom%></td>
                <td>{{this.teams.0.doom}}</td>
                <td>{{this.teams.1.doom}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <h2><%_playeroverview%></h2>
    <br/>
    <div id="players">
        <table>
                <thead>
                    <th><%_player%></th>
                    <th><%_rank%> (lp)</th>
                    <th><%_win%></th>
                    <th><%_lost%></th>
                    <th><%_winrate%></th>
                    <th><%_kill%></th>
                    <th><%_death%></th>
                    <th><%_assist%></th>
                    <th><%_kda%></th>
                    <th><%_gold%></th>
                    <th><%_cs%></th>
                    <th><%_turret%></th>
                </thead>
            {{#each this.teams}}
                {{#each this.members}}
                    <tr class="data">
                        <td onclick="eventAgg.trigger('navigate','/doom/{{this.name}}')">{{this.name}} - <b>{{this.champion}}</b></td>
                        <td>{{this.tier}}/{{this.division}} ({{this.lp}})</td>
                        <td>{{this.win}}</td>
                        <td>{{this.lost}}</td>
                        <td>{{this.smwrate}}%</td>
                        <td>{{this.kill}}</td>
                        <td>{{this.death}}</td>
                        <td>{{this.assist}}</td>
                        <td>{{this.KDA}}</td>
                        <td>{{this.gold}}</td>
                        <td>{{this.cs}}</td>
                        <td>{{this.turret}}</td>
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
    <div id="popup"></div>
    <div class="clear"></div>
    <button class="clickable button" onclick="eventAgg.trigger('doom:again')"><%_doombutton%></button>
</div>
