<div id="content">
    <h3><%_doomtitle%> </h3>
    <br/>
    <div id="judge" >
        <h1>{{{this.doomMessage}}} (<span id="score">{{this.allyDoomPercentage}}</span>)</h1>
    </div>
    <br/>
    <h2><%_teamoverview%></h2>
    <br/>
    <div id="teams">
        <table>
            <thead>
            <td></td>
            <td><%_ally%></td>
            <td><%_enemy%></td>
            </thead>
            <tr>
                <td><%_df%></td>
                <td>{{this.teams.0.DF}}</td>
                <td>{{this.teams.1.DF}}</td>
            </tr>
            <tr>
                <td><%_kda%></td>
                <td>{{this.teams.0.KDA}}</td>
                <td>{{this.teams.1.KDA}}</td>
            </tr>
            <tr>
                <td><%_winrate%></td>
                <td>{{this.teams.0.winrate}}%</td>
                <td>{{this.teams.1.winrate}}%</td>
            </tr>
            <tr>
                <td><%_gold%></td>
                <td>{{this.teams.0.gold}}</td>
                <td>{{this.teams.1.gold}}</td>
            </tr>
            <tr>
                <td><%_cs%></td>
                <td>{{this.teams.0.cs}}</td>
                <td>{{this.teams.1.cs}}</td>
            </tr>
            <tr>
                <td><%_turret%></td>
                <td>{{this.teams.0.turret}}</td>
                <td>{{this.teams.1.turret}}</td>
            </tr>
            <tr>
                <td><%_total%></td>
                <td>{{this.teams.0.total}}</td>
                <td>{{this.teams.1.total}}</td>
            </tr>
            <tr>
                <td><%_doom%></td>
                <td>{{this.teams.0.doom}}</td>
                <td>{{this.teams.1.doom}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <h2><%_playeroverview%></h2>
    <br/>
    <div id="players">
        <table>
            {{#each this.teams}}
                <thead>
                    <td><%_player%></td>
                    <td><%_win%></td>
                    <td><%_lost%></td>
                    <td><%_winrate%></td>
                    <td><%_kill%></td>
                    <td><%_death%></td>
                    <td><%_assist%></td>
                    <td><%_kda%></td>
                    <td><%_gold%></td>
                    <td><%_cs%></td>
                    <td><%_turret%></td>
                </thead>
                {{#each this.members}}
                    <tr class="data">
                        <td>{{this.name}} - <b>{{this.champion}}</b></td>
                        <td>{{this.win}}</td>
                        <td>{{this.lost}}</td>
                        <td>{{this.smwrate}}%</td>
                        <td>{{this.kill}}</td>
                        <td>{{this.death}}</td>
                        <td>{{this.assist}}</td>
                        <td>{{this.KDA}}</td>
                        <td>{{this.gold}}</td>
                        <td>{{this.cs}}</td>
                        <td>{{this.turret}}</td>
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
    <button class="clickable button" onclick="eventAgg.trigger('doom:again')"><%_doombutton%></button>
</div>
